{% extends 'layout.html' %}

{% block bace %}

<br>

<h1 align="center" class="text-dark"> About us </h1>


<div class="text-center ">
    <img src='static\icon s.GIF' class="img-fluid" width="25%" alt="Responsive image">
</div>

<div class=" container text-center">
    <div class="container">
    <h5>Your customers are an amazing source of information that’
        ll allow you to optimize the performance of your Worck in a strategic and smart way.

        The people who bought one of your services can tell you exactly what’
        s wrong and what can be done, and they can easily let you know what’s
         missing and what’s expected. It’s
          the perfect scenario for doing a survey every now and then.</h5>
          </div>
</div>

    
{% endblock bace %}